/* INDICACIONES


*/

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666666;
    line-height: 2.3em;
    margin:0.5em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.info{
    background-color: #0069d9;
    float: right;
    padding: 18px 23px;
    font-size: 1.3em;
}

.estilosinstruccion{
    background-color: #0069d9;
    color: #fff;
    width: 100%;
    padding: 5px 10px;
    margin-top: 3px;

}

.mostrarinfo{
    display: inline-block;
}

.tamico{
    color: #fff;
    font-size: 23px;
}

.nombreRecurso {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: left;
    color: #000;
}

/*.textoInstruccion{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    text-align: left;
    color: #000
}*/

/*i.ip {
    font-size:2em;
    color:green;
}
i.it {
    font-size:2em;
    color:red;
}*/
.ipReactivo{
    /*  margin-left:10px;*/
    margin-right:4px;
      color: green;
      font-size: 2em;                  /* JLBG jun 12, 2019; cambié el tamaño de la palomita y el tache*/
  }
  .itReactivo{
      margin-right:4px;
      color: red;
      font-size: 2em;
  }
  
.ip {
      /*  margin-left:10px;*/
      margin-left:4px;
        color: green !important;
        font-size: 2em;                  /* JLBG jun 12, 2019; cambié el tamaño de la palomita y el tache*/
    }
    
.it {
      margin-left:4px;
        color: red !important;
        font-size: 2em;
    }

.blink {
    animation: blink 2s linear infinite;
    -webkit-animation: blink 2s linear infinite;
  }
  @keyframes blink {
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes blink {
    50% { opacity: 0.0; }
  }





.mostrar { /*Para poner o quitar elementos....*/
	display:""; /*estaba initial, RAAR mar 4,19: al usar initial provocaba que no diera salto de linea el div clase sub-item, pregunta*/
}
.ocultar {
	display: none !important; /* RAAR mar 23,19: algo esta provocando colision de css, sospecho de .addClass("col-md-3 col-lg-3");*/
}

.visible { /*Para hacer visibles o no elementos SIN QUITARLOS...*/
    visibility: visible;    
  }  
.invisible {
    visibility: hidden;
}

.avisaFaltante {
    border: 2px solid #0069d9; !important;
}

.objetivoSeleccionRapida { /* para click sencillo y doble click*/
    border: 2px solid paleturquoise; 

}
.bordeDrop { /*es el nomal de inicio*/
    border: 1px solid #AAAAAA;
    border-radius: 4px;
 
}

#btnPaginador {

    margin-bottom:3px;
}

.mostrarRetro{
    display:inline-block;
}

.ocultarRetro{
    display:none;
}

.reactivos.center{
	float: none;
    margin: auto;
    /*column-count:4; // para que sean columnas los reactivos con sus casillas...*/
}



 .casillaRespuesta { 
    font-family: 'Open Sans', sans-serif; /*vista grafica recursos INICIO Faby*/
    font-size: 1em;
    color: #000;
    background-color:transparent; /*ojo con esto, por que es un botón y forzo el color de fondo*/
    border: 1px solid #000;
    padding: 5px; /*vista grafica recursos FIN Faby*/


       /* min-width: 100%;  */
  /*  background-color: transparent;*/
   /* border-radius: 5px;*/
text-align: left;

    width: 80%;
  /*padding: 1px;
  padding-left: 10px;*/
  white-space: pre-wrap; /*para que haga salto delinea*/
   
}

.casillaRespuesta:hover { 
    background-color: #f4edd9;
    font-size: 1.02em !important;
    
}

.fondoAlternado {
    background-color: #f0efef;
}

.elegida {
    background-color: #0069d9;
    color: white;

 /*   color: red;*/
  /*  font-style:  italic;*/
    opacity: .5;
 /*   font:italic !important;
    font: bold !important;*/
    border-style:inset;

    
}

.elegidaCorrecta {
    /*   color: red;*/
    /*   font-style:  italic;*/
       opacity: .5;
    /*   font:italic !important;
       font: bold !important;*/
       border-style:inset;
     /*  border-color: green;*/
   }

   .opcionIncorrecta {
      border-color: red;
    }
   
   .opcionCorrecta {
      border-color: green;
    }

/*


.reactivos .lista-preguntas, .respuestas .lista-respuestas{
    line-height: 1.5em;
    background-color:#EAEAEA;
    background: transparent; 
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}*/
/*.sub-item > p {*/
.sub-item {
   /* display: inline;*/ /*,RAAR Nov 21,18: quito esto para que sea block y no necesite <br> */
    margin-right: 6px;
 /*   height: auto;*/
}

.itemRespuesta {
    display: block; 
    margin-top: 6px;
    width:auto;    
  /*  background-color: blue;*/
 /*   height: 200px;*/
  /*  height: auto;*/
   /*  margin-right: 6px;*/
 }

 .itemRespuestaMobil {
   display: block;
   margin-right: 6px;
 }
.reactivos .lista-preguntas .sub-item, .respuestas .lista-respuestas .sub-item{
	padding: 5px;
	/* margin: 15px; */
/* display:marker;*/


}

/*
.reactivos .lista-preguntas .sub-item .droppable{

    height:auto;

	position: relative;
    content: ""; 
    display: inline-block;
    margin: 5px;
    min-width: 150px;
    min-height: 20px;
    padding: 5px;
    text-align: center;

}
*/
/*
.reactivos .lista-preguntas .sub-item .droppable.ocupado{
    top: 0;
}

.reactivos .lista-preguntas .sub-item .droppable.ocupado.correcto{
	top: 0;
    border:1px solid #0C0 !important;
    color:#030;
}

.reactivos .lista-preguntas .sub-item .droppable.ocupado.incorrecto{
	top: 0;
    border:1px solid #C00 !important;    
    color:#300;
}

.reactivos .lista-preguntas .sub-item .droppable.dragOver{
	border-color: #AAAAAA;
	background-color: #AAAAAA;
}

.reactivos .lista-preguntas .sub-item .droppable.ocupado.dragOver{
	border-color: #aaaaaa;
	background-color:transparent;
}

.reactivos .lista-preguntas .sub-item .droppable.ocupado.correcto.dragOver{
    border:1px solid #0C0;
    color:#030;
}

.reactivos .lista-preguntas .sub-item .droppable .clonado{
   display: inline-block;   
   margin: 0px; /*solo esto tenia en origen*/
}*/


/*.reactivos .lista-preguntas .sub-item .droppable .clonado.correcto{*/
/*.ocupado.correcto >.clonado   { 
    color:#600 !important; 
    background-color: transparent;

    
}*/
/*.reactivos .lista-preguntas .sub-item .droppable .clonado.incorrecto{*/
.ocupado.incorrecto >.clonado{
    color:#600;
    background-color: transparent;
    /*font-weight: bold;*/
}

.respuestas{
	text-align:center;
}

.respuestas.col-md-3{ /*RAAR elegante jun 20,18  Para que quede centrado a la derecha cuando respuestas este como columna... jun 28 lo inhabilito, da lata no pone las respuestas abajo, hay que revisar...es buena idea...*/
  /*  margin: 0; /* de aqui al transform es para centrar horizontalmente,RAAR elegante jun 20,18  elegante */
 /*   position: fixed;
    top: 50%;
    right: 50%;*/
 /*	 height: 100%; RAAR elegante jun 20,18 lo apago mientas por que si son pocos se amontonan arriba*/
/*	 transform: translate(200%, -50%);	*/
}

.respuestas.center{
	float: none;
/*	margin: auto;*/
	
}

/*.respuestas.center .lista-respuestas .sub-item{
	display: inline-block;
	width:200px;
	vertical-align:middle;
}*/
/*
.ejercicio:after{
	clear: both;
	content: "";
	display: block;
}*/

/*
.revisa {
    width: 300px;
    margin: auto;
}

.revisa button{
	display: block;
	width: 150px;
	margin: 10px auto;
}
.revisa:before{
	content: "";
	display: block;
	clear: both;
}*/
.retroalimentacion{
	text-align:center
}
.barraInferior{
    text-align: center;
    clear: both;
}
.retroBien{
    color: rgb(0, 131, 0);
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid rgb(0, 165, 0);
    padding: 6px;
    border-radius: 3px;
	line-height:30px;
}

.retroMal{
    color: rgb(131, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgb(165, 0, 0);
    padding: 6px;
    border-radius: 3px;
	margin: 0 2px;
	line-height:30px;
}
/*
.retroArroba{
    color: rgb(131, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgb(165, 0, 0);
    padding: 6px;
    border-radius: 3px;
	margin: 0 2px;
	line-height:30px;
}*/


#txt_controles  {
    text-align: left;
    background-color: red;
    float: center;
    height: 100px;
}


#incrementar_txt {
    float: right;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: #333333 0px solid;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/aalto.svg);
    background-position: top;
    background-repeat: no-repeat;
  }

#decrementar_txt {
    float: right;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: #333333 0px solid;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/abajo.svg);
    background-position: top;
    background-repeat: no-repeat;
}

#print {
    float: right;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: #333333 0px solid;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/imprimir.svg);
    background-position: top;
    background-repeat: no-repeat;
  }
.contraste_normal{ 
    float: right;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: #333333 0px solid;
    cursor: pointer;
    vertical-align: middle;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../img/altocontraste.svg);
  }
  .contraste_b_n{
    float: right;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: #333333 0px solid;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/contraste.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.headings { /*nm*/
	font-family: 'Open Sans', sans-serif;
    color: #b1b1b1;
    letter-spacing: 1px;
    font-size: 1em;
    margin: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
  /*  color: #666666;*/ /*RAAR abr, 2: se pierde en pantalla*/
    /*color: black; esto era para CA classic, no aplicaba para OMNT, Ago21,19 RAAR*/
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 300;
    letter-spacing: .7px;
    text-align: justify;
    display: inline; /*the default is block, por la paloma al inicio del reactivo*/
}
.actividad {
    max-width: 250px;
    background: #b1b1b1;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color: #fff!important;
    margin-bottom: 15px !important;
}
.headings-int {
    font-family: 'Open Sans', sans-serif;
    color: #6c6b82;
    letter-spacing: 1px;
    font-size: 2em;
    margin-top: 0;
}
.under-li {
    border-bottom: solid #dbdbdb;
    border-width: 3px;
    padding-bottom: 9px;
    width: 80%;
}
.palomita, .tache{
	margin-left:10px
}

.icono{
  font-size: 6em;
  float: right;
  color: #b1b1b1;
}


@media (min-width:900px){ /*mientrs mínimo */  
    .icono {
       display: none;
    }
}

@media only screen and (max-width: 480px) { /*aplicar hasta 480 px*/
	body{
		font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;	
		color: #777;
		font-size: 90%;
	}
	.respuestas .lista-respuestas .sub-item .casillaRespuesta {
		max-width: 200px;
    }
    .ocupado.correcto >.clonado   { /* para marcar textos al calificar*/
        font-weight: bold;        
    }
    .ocupado.incorrecto >.clonado{
        font-weight: bold;
    }
    
}

/*  Clases para retros tooltip JLBG*/
.tooltip.primary .tooltip-inner          { background-color:    #337ab7; }
.tooltip.primary.top > .tooltip-arrow    { border-top-color:    #337ab7; }
.tooltip.primary.right > .tooltip-arrow  { border-right-color:  #337ab7; }
.tooltip.primary.bottom > .tooltip-arrow { border-bottom-color: #337ab7; }
.tooltip.primary.left > .tooltip-arrow   { border-left-color:   #337ab7; }

.tooltip.info .tooltip-inner          { background-color:    #31b0d5; }
.tooltip.info.top > .tooltip-arrow    { border-top-color:    #31b0d5; }
.tooltip.info.right > .tooltip-arrow  { border-right-color:  #31b0d5; }
.tooltip.info.bottom > .tooltip-arrow { border-bottom-color: #31b0d5; }
.tooltip.info.left > .tooltip-arrow   { border-left-color:   #31b0d5; }

.tooltip.success .tooltip-inner          { background-color:    #449d44; }
.tooltip.success.top > .tooltip-arrow    { border-top-color:    #449d44; }
.tooltip.success.right > .tooltip-arrow  { border-right-color:  #449d44; }
.tooltip.success.bottom > .tooltip-arrow { border-bottom-color: #449d44; }
.tooltip.success.left > .tooltip-arrow   { border-left-color:   #449d44; }

.tooltip.warning .tooltip-inner          { background-color:    #ec971f; }
.tooltip.warning.top > .tooltip-arrow    { border-top-color:    #ec971f; }
.tooltip.warning.right > .tooltip-arrow  { border-right-color:  #ec971f; }
.tooltip.warning.bottom > .tooltip-arrow { border-bottom-color: #ec971f; }
.tooltip.warning.left > .tooltip-arrow   { border-left-color:   #ec971f; }

.tooltip.danger .tooltip-inner          { background-color:    red; }
.tooltip.danger.top > .tooltip-arrow    { border-top-color:    red; }
.tooltip.danger.right > .tooltip-arrow  { border-right-color:  red; }
.tooltip.danger.bottom > .tooltip-arrow { border-bottom-color: red; }
.tooltip.danger.left > .tooltip-arrow   { border-left-color:   red; }