@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
/*******************************************/
/***** ETIQUETAS GENERALES *****************/
/*******************************************/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666666;
    line-height: 2.3em; 
    margin:2em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

button{
    margin: 1px;
}

footer {
    clear: both;
}
/****** ESCRIBIENDO *************/
input[type="text"]{
    /* height: 34px; */
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    text-align: center
}

input[type="text"].incorrecto{
    border:1px solid #F00;
    color:#600;
    background-color: transparent;
    /* background-image: url(tache.png); */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

input[type="text"].correcto{
    border:1px solid #0C0;
    color:#030;
    background-color: transparent;
    /* background-image: url(palomita.png); */
    background-repeat: no-repeat;
    background-position: right 10px center;
}
input[type="text"].vacio{
    border:2px solid #ffc164;
    color:#030;
    background-color: transparent;
    /* background-image: url(palomita.png); */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

input::placeholder { color: #969696; font-size: 0.8em; font-style: italic; }

/****** FIN ESCRIBIENDO *************/
.headings {
    font-family: 'Open Sans', sans-serif;
    color: #b1b1b1;
    letter-spacing: 1px;
    font-size: 1em;
    margin: 0;
}

.presentation-section {
    font-family: 'Open Sans', sans-serif;
    color: #6c6b82;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1.6em;
    margin-bottom: 10px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 300;
    letter-spacing: .7px;
    text-align: left;
}
.actividad {
    max-width: 250px;
    background: #b1b1b1;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color: #fff!important;
    margin-bottom: 15px !important;
}
.headings-int {
    font-family: 'Open Sans', sans-serif;
    color: #6c6b82;
    letter-spacing: 1px;
    font-size: 2em;
    margin-top: 0;
}
.under-li {
    border-bottom: solid #dbdbdb;
    border-width: 3px;
    padding-bottom: 9px;
    width: 80%;
}


/*******************************************/
/***** CLASES GENERALES *****************/
/*******************************************/

.main{
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.container{
    text-align: left;
}

.instrucciones{
   font-weight: bold;
   font-weight: 600;
   margin-bottom: 1.5em;
}

.barraInferior{
    text-align: center;
    clear: both;
}

.bien{
    background: #eeffee url("palomita.png") no-repeat top right; 
}

.mal{
    background: #ffeeee url("tache.png") no-repeat top right;
}


#dialog, #dialog span, .ui-widget{
    font-weight: 300;
    letter-spacing: 1px;
}

.mostrarRetro{
    display: inline-block;
}

.ocultarRetro{
    display:none;
}

.retroalimentacionFinal{
    text-align: center;
    color: red;
    font-weight: solid;
    font-style: italic;
}
.icono{
	font-size: 6em;
	float: right;
	color: #b1b1b1;
  }
  @media (min-width:900px){
	.icono {
	  display: none;
  }
}
/*******************************************/
/***** RESPONSIVE 480 *****************/
/*******************************************/

@media (max-width: 480px) {
    html{
        margin:0;
        padding: 0;
    }
    body{
        padding: 0;
        border: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        margin:0.5em;
    }
    p{
        font-size: 12px;
    }
}